<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name ="Test-Suite">
	<listeners>
		<listener class-name="automation.core.TestReport"/>
		<listener class-name="automation.core.TestCreate"/>
	</listeners>
	<test name ="Tool QA">
	
		<!-- <groups>
		 <define name ="All">
			
				<include name ="Car" />
				<include name ="Scooter" />
			
		 </define>
		 <run>
		 		<include name ="All" />
		 	
		 </run>
		</groups> -->
		
		<parameter name="password" value="12345678x@X"/>
		
		<classes>
			<!-- <class name ="webAutomation.ContextClick" /> 
			<class name ="webAutomation.DragAndDrop" />
			 <class name ="webAutomation.DragAndDrop2" />
			<class name ="webAutomation.Iframe_ActionBuidPerform" />
			<class name ="webAutomation.Session1Fail" />
			<class name ="webAutomation.Session1" />
			<class name ="webAutomation.TakesScreenShotExample" />-->
			<class name ="webAutomation.WebDriverNavigate" />
			
		</classes>
	</test>
</suite>