<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name ="Test-Suite">
	<test name ="Tool QA">
		<!-- <groups>
		 <define name ="All">
			
				<include name ="Car" />
				<include name ="Scooter" />
			
		 </define>
		 <run>
		 		<include name ="All" />
		 	
		 </run>
		</groups> -->
		
		<parameter name="password" value="12345678x@X"/>
		
		<classes>
			<class name ="recordingVideo.Session1" />
		</classes>
	</test>
</suite>